h1{
	text-align: center;
	font-family: monospace;
	font-size: 1.8em;
}

body{
	max-width: 320px;
	max-height: auto;
	margin: auto;
	border-style: dotted;
	border-color: black;
}

h3{
	display: inline;
	padding: 0;
}


.first {
	max-width: 60px;
	max-height: 60px;
	margin-top: 120px;
	padding-top: 25px;
	margin-left: 20px;
	font-family: monospace;
	
}

.next {
	max-width: 60px;
	max-height: 60px;
	margin-left: 265px;
	font-family: monospace;
	
}

.last {
	max-width: 60px;
	max-height: 60px;
	margin-left: 265px;
	font-family: monospace;
	
}

a{
	color: black;
}

a:visited{
	color: #8f8f8f;
	
}

a:hover{
	color: #000000;
	
}

a:active{
	color: #101010;
	
}

.pixel1 {
  width: 20px;
  height: 20px;
  background-color: black;
  border-style: solid;
  border-color: black;
  margin: 500px 0 0 5px;

}

.pixel2 {
  width: 20px;
  height: 20px;
  background-color: white;
  border-style: solid;
  border-color: black;
  margin: 500px 0 0 25px;

}

.pixel3 {
  width: 20px;
  height: 20px;
  background-color: black;
   border-style: solid;
  border-color: black;
  margin: 500px 0 0 45px;

}

.pixel4 {
  width: 20px;
  height: 20px;
  background-color: white;
  border-style: solid;
  border-color: black;
  margin: 500px 0 0 65px;

}

.pixel5 {
  width: 20px;
  height: 20px;
  background-color: black;
   border-style: solid;
  border-color: black;
  margin: 500px 0 0 85px;

}

.pixel6 {
  width: 20px;
  height: 20px;
  background-color: white;
  border-style: solid;
  border-color: black;
  margin: 500px 0 0 105px;

}

.pixel7 {
  width: 20px;
  height: 20px;
  background-color: black;
   border-style: solid;
  border-color: black;
  margin: 500px 0 0 125px;

}

.pixel8 {
  width: 20px;
  height: 20px;
  background-color: white;
  border-style: solid;
  border-color: black;
  margin: 500px 0 0 145px;

}

.pixel9 {
  width: 20px;
  height: 20px;
  background-color: black;
   border-style: solid;
  border-color: black;
  margin: 500px 0 0 165px;

}

.pixel10 {
  width: 20px;
  height: 20px;
  background-color: white;
  border-style: solid;
  border-color: black;
  margin: 500px 0 0 185px;

}

.pixel11 {
  width: 20px;
  height: 20px;
  background-color: black;
   border-style: solid;
  border-color: black;
  margin: 500px 0 0 205px;

}

.pixel12 {
  width: 20px;
  height: 20px;
  background-color: white;
  border-style: solid;
  border-color: black;
  margin: 500px 0 0 225px;

}

.pixel13 {
  width: 20px;
  height: 20px;
  background-color: black;
  border-style: solid;
  border-color: black;
  margin: 500px 0 0 245px;

}

.pixel14 {
  width: 20px;
  height: 20px;
  background-color: white;
  border-style: solid;
  border-color: black;
  margin: 500px 0 0 265px;

}

.pixel15 {
  width: 20px;
  height: 20px;
  background-color: black;
  border-style: solid;
  border-color: black;
  margin: 500px 0 0 285px;

}

