body {
  background-image: url("https://4.bp.blogspot.com/-JgzKTvlc4MQ/VPZwdu6IVsI/AAAAAAAAAzU/4F0BWe8RZ90/s1600/IMG_3162_autocorrect.jpg");
  font-family: monospace;
  padding: 30px;
}

h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
  font-family: monospace;
  color: indianred;
}

h2 {
  font-size: 33px;
  color: rgb(249, 250, 253);
}

.established {
  font-style: italic;
  color: antiquewhite;
  font-size: 15px;
}

h1, h2,{
  text-align: center;
}

.menu {
  width: 100%;
  height: 100%;
  background-color: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding: 20px;
  max-width: 500px;
  font-family: monospace;
}


hr {
  height: 2px;
  background-color: #388e3c;
  border-color: #388e3c;
}

.bottom-line {
  margin-top: 25px;
}

h1, h2 {
  font-family: calibri light;
}

.item p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
  color: cornsilk;
}

.bhakri-types {
  text-align: left;
  width: 85%;
}

.price {
  text-align: right;
  width: 15%;
}

/* FOOTER */

footer {
  font-size: 18px;
  text-align: center;
}

.address {
  margin-bottom: 10px;
  color: linen;
  text-align: center;
}

a {
  color: linen;
}

a:visited {
  color: darkkhaki;
}

a:hover {
  color: #91f3fc;
}

a:active {
  color: darkkhaki;
}